@charset "utf-8";
/* CSS Document */

body{
	background-color:lightcoral;
}
#informacion{
	top: -150px;
	left: 300px;
	clear: both;
	position: relative;
}
#zonaformulario .but:hover{
	transform: scale(1.5);
}
#zonaformulario .but{
	background:#7CB8DF;
}

#contenedor{
	width:1000px;
	height: auto;
	position:absolute;
	margin:auto;
	padding: 10px;
	top: 50px;
	left: 100px;
	right: 100px;
	background-color: aquamarine;
}
#contenedor h1{
	text-align: center;
}


#zonaformulario{
	float:left;
	padding:30px;
	border:2px solid #000;
}

#zonadatos{
	float:left;
	width:500px;
	height: auto;
	margin-left:20px;
	padding:20px;
	border:2px solid #0000FF;
}

.directorio{
	color:#0000FF;
	font-weight:bold;
	cursor:pointer;
}
	
